#logo{
		}

		body{
			background-color: #838b75;
		}


		#total-orders{
			background-color: #93d6c3;
		}


		#orders-delivered{
			background-color: #3c3;
		}

		#orders-pending{
			background-color: #f93;
		}